<div class="switchComponentContainer">
    <input type="checkbox"/>
</div>

@code{
    private bool _clicked;
    public bool Clicked
    {
        get 
        { 
            return _clicked; 
        }
        set 
        { 
            _clicked = value; 
        }
    }
}
