<div class="asideContainer">
    @foreach (var agent in Agents)
    {
        <section class="agentSection">
            @agent.Name
        </section>
    }
</div>

@code{
    [CascadingParameter(Name = "Agents")]
    public List<Agent> Agents { get; set; }
    [Parameter]
    public EventCallback<Agent> AgentAddedToMap { get; set; }
    [Parameter]
    public EventCallback<Agent> AgentRemovedFromMap { get; set; }
}
