<div class="asideContainer">
    @foreach (var agent in Agents)
    {
        <AgentComponent Agent="agent"/>
    }
</div>

@code{
    [CascadingParameter(Name = "Agents")]
    public List<Agent> Agents { get; set; }
    [CascadingParameter(Name = "Update")]
    public Action Update { get; set; }
}
